html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(50, 52, 56) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background-size: cover;
  font-family: "consolas", monospace;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.title {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  margin: auto;
}
.tips {
  color: #aaa;
  margin: auto;
  font-size: 18;
}
canvas {
  display: block;
  margin: auto;
}
